@model HelixService.MVC.Models.Employee

@{
    ViewBag.Title = "Employee Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Employee Details</h2>

<fieldset>
    <legend>Employee</legend>

    <div class="display-block">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.FirstName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    </div>

    <div class="display-block">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.LastName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastName)
        </div>
    </div>

    <div class="display-block">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>

    <div class="display-block">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Phone)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Phone)
        </div>
    </div>

    <div class="display-block">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.State)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.State)
        </div>
    </div>

    <div class="display-block">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.City)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.City)
        </div>
    </div>

    <div class="display-block">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Street)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Street)
        </div>
    </div>

    <div class="display-block">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Zip)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Zip)
        </div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Guid }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Styles {
    @Styles.Render("~/Content/css")
}
